@page 
@model RazorPageDeneme.Pages.ProductFile.ProductSaleModel

<h2>Product Sale</h2>

<form method="post">
    <input hidden asp-for="Product.ProductID" />
    <div class="form-group">
        <<div class="mb-3">
            <label asp-for="Product.ProductID"></label>
            <input asp-for="@Model.Product.ProductName" class="form-control" readonly />
        </div>
    </div>

    <div class="form-group">
        <label>Customer:</label>
        <select asp-for="SalesTransaction.CustomerID" asp-items="Model.Customers" class="form-control"></select>
    </div>

    <div class="form-group">
        <label>Quantity:</label>
        <input type="number" asp-for="SalesTransaction.Piece" class="form-control max=" 10" min="0" placeholder=" Choose " onchange="calculateTotal()" />
    </div>

    <div class="mb-3">
        <label asp-for="Product.SalePrice"></label>
        <input asp-for="@Model.Product.SalePrice" class="form-control" readonly/>
    </div>

    <div class="form-group">
        <label>Total Price:</label>
        <input type="text" id="totalPrice" class="form-control" readonly />
    </div>

    <button type="submit" class="btn btn-primary">Complete Sale</button>
</form>

<script>
    function calculateTotal() {
        var quantity = document.querySelector('input[name="SalesTransaction.Piece"]').value;
        var price = parseFloat("@Model.Product.SalePrice");
        document.getElementById('totalPrice').value = quantity * price;
    }
</script>
